@model QuizApp.Models.Wynik

@{
    ViewData["Title"] = "Wynik quizu";
}

<h1>Wynik quizu</h1>

<p>Użytkownik: @Model.Uzytkownik.Nick</p>
<p>Quiz: @Model.Quiz.Tytul</p>
<p>Punkty: @Model.Punkty</p>

<a asp-action="Index" asp-controller="Home">Powrót do strony głównej</a>