@model List<QuizApp.Models.Wynik>

<h2>Wyniki Quizu</h2>

<table class="table">
    <thead>
        <tr>
            <th>Quiz ID</th>
            <th>Punkty</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var wynik in Model)
        {
            <tr>
                <td>@wynik.QuizId</td>
                <td>@wynik.Punkty</td>
            </tr>
        }
    </tbody>
</table>